/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "chefs"
 *= require "recipes"
 *= require "static_pages"
 */

#ten {
  float: right;
}

td {
  padding: 5px 15px;
}


table {
  margin: 0 auto ;
  padding: 15px;
  background-color: #fff;
  width: 80%;
}


body {
  background-color: #dba270; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}


a {
  color: #62ccb7;
 
  }
a:hover {
    color: #419483;
  }

h1 {
  color: white;
  text-align: left;
  margin: 15px 0 -5px 140px;
}

h3 {
  margin: 0 0 0 40px;
}

#one {
  margin: 10px auto;
  height: 30px;
  width: 80%;
  background-color: #93c9ba;
}

#two {
  margin: 10px auto;
  height: 45px;
  width: 80%;
  background-color: #f5e6d7;
}

#nav {
  list-style: none; }

#nav li {
  vertical-align: middle;
  float: left;
  color: #ffffff !important; 
  padding: 5px 20px 15px 0;
}

#six {
  margin: 10px auto;
  height: 80px;
  width: 80%;
  background-color: #f5e6d7;
}

#seven {
  height: 20px;
  width: 100%;
  background-color: #47ab90;
}

#eight {
  float: right;
  height: 80px;
  width: 30%;
  background-color: white;
}

#nine {
  margin-left: 140px;
}
